################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Detran.Infrastructure/bin/Debug/netcoreapp3.1
/Detran.Infrastructure/obj
/Detran.Api/bin/Debug/netcoreapp3.1
/Detran.Api/obj
/Detran.Shared/obj
/Detran.Shared/bin/Debug/netcoreapp3.1
